@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@media screen and (max-width:600px){
  body {
    background-color: black;
    color: white;
  }
}

@media screen and ( min-width: 768px){
  body {
    background-color: #DAEBA2;
    color: rgba(0, 0, 0, 0.5);
    width:100%;
  }
}

@media screen and (min width: 600px) {
  body {
    width:90%;
    background-color: #fff;
    color:goldenrod;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-weight: bold;
  font-size: 3.1rem;
  color: white;
  text-shadow: red;
  color: black;
  margin: 0 auto;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#nav {
  background-color: #BACDFF;
  margin: 0 auto;
  width: 40%;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  float: left;
  font-size: 1.5rem;
  padding: 2rem;
  margin: 5px;
  display: flex;
  color: rgb(10, 10, 10);
}

#home {
  clear: both;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  margin-top: 4rem;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://miro.medium.com/max/1200/1*NPXA_jRH7uA02VzoydZIWQ.jpeg")
      no-repeat center center/cover;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav a:hover {
  background: rgb(171, 173, 17);
  color: red;
}

#projects p {
  text-align: left;
  margin-top: 0px;
  font-size: 1.3rem;
  text-align: center;
}
img {
  /* display: flex; */
  float: center;
}
#projects a {
  display: flex;
  justify-content: center;
}
#projects {
  /* display: flex; */
  margin: 0 auto;
  font-size: 1.3rem;
  background-color: gray;
}

#projects a:hover {
  transform: scale(1.1)
}
.one {
  margin: 0 auto;
}

#about {
  background-color: #D4D4FF;
  display: flex;
}

#about img {
  border-radius:100%;
  margin-left: 2rem;
}

#about p {
  float:left;
  font-size: 1.3rem;
  margin: 1rem;
}

#contacts {
  padding: 1.1rem;
  font-size: 1.3rem;
  background-color: gray;
}
.delta {
  text-align: center;
}

.delta p {
  justify-content: center;
  display: flex;
}
*p {
  font-size: 1.3rem;
}
#dc {
  color:firebrick;
  font-family: fantasy;
}
.no {
  text-align: center;
}